/* general for multiple pages */
.navbar{
    background-color: #CF002A;
    color: #000 !important;
}
.navbar-nav>li>a{
    color: #ffffff !important;
}

.navbar-nav>li>ul>li>a{
    color: #ffffff !important;
}

.navbar-nav>li.active>a{
    background-color: #ffffff !important;
    color: #000000 !important;
}

.navbar-nav>li.open>a{
    background-color: #ffffff !important;
    color: #000000 !important;
}

.logo-size {
    height: 35px;
    margin-left: -5px;
    margin-top: -5px;
}